<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-config" version="1.1.0">
    <name>cordova config</name>
    <description>
        The config of cordova.
    </description>
    <author>HoldSkill Team</author>
    <license>MIT</license>
    <keywords>cordova,cordova config</keywords>
    <repo>https://github.com/HoldSkill/cordova-plugin-config.git</repo>
    <issue>https://github.com/HoldSkill/cordova-plugin-config/issues</issue>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module name="CordovaPluginConfig" src="www/CordovaPluginConfig.js">
        <clobbers target="CordovaPluginConfig" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaPluginConfig">
                <param name="android-package" value="com.holdskill.cordova.extend.CordovaPluginConfig" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/CordovaPluginConfig.java" target-dir="src/com/holdskill/cordova/extend" />
    </platform>
    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>本应用需要获取录音权限</string>
        </config-file>
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaPluginConfig">
                <param name="ios-package" value="CordovaPluginConfig" />
            </feature>
        </config-file>
        <header-file src="src/ios/CordovaPluginConfig.h" />
        <source-file src="src/ios/CordovaPluginConfig.m" />
        <framework src="Accelerate.framework" weak="true" />
        <framework src="CoreAudio.framework" weak="true" />
        <framework src="AudioToolbox.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />
    </platform>
</plugin>